<h1><% @armies.each do |temp| %></h1>
  <label>Army Name:</label>
  <%= "#{temp.army_name}" %>
  <br>
  <label>Faction:</label>
  <%= "#{temp.faction}" %>
  <br>
  <label>Army Point Cost:</label>
  <%= "#{temp.army_point_cost}" %>
  <br>
  <label>Created By:</label>
  <%= "#{temp.user.username}" %>
  <br>
  <label>---------------------</label>
  <br>
  <a href="/armies/ <%= temp.id %>/edit">Edit</a>
  <form method="post" action="/armies/<%= temp.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete This Army">
  </form>
<% end %>

  <a href="/users/<%= @user %>">Return to User Page</a>
