  <label>Army Name:</label>
  <%= "#{@army.army_name}" %>
  <br>
  <label>Faction:</label>
  <%= "#{@army.faction}" %>
  <br>
  <label>Army Point Cost:</label>
  <%= "#{@army.army_point_cost}" %>
  <br>
  <label>Created By:</label>
  <%= @army.user.username %>
  <br>
  <label>---------------------</label>
  <br>
  <br>
    <a href="/armies/ <%= @army.id %>/edit">Edit</a>
    <br>
  <a href="/users/<%= @user %>">Return to User Page</a>
  <form method="post" action="/armies/<%= @army.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="Delete">
    <input type="submit" value="Delete This Army">
  </form>
